html {
  scroll-behavior: smooth;
}
body {
  background-color: #f5f6f6;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

.contactsj {
  width: 90%;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: auto;
  border-radius: 20px;
}
.contactsj:hover {
  box-shadow: 0px 0px 8px #66ff00;
}

hr.new1 {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
hr.new2 {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr.new2:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

h3 {
  text-align: center;
}
h6 {
  text-align: center;
}
/*NAVBAR*/

.navb {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
}
.logo1 {
  height: 60px;
  width: 150px;
}
.logo2 {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  margin-right: 30px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav ul {
  display: flex;
}
nav ul li a {
  margin: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-size: 20px;
  font-weight: 700;
  align-items: right;
}
/*POSTER*/

.poster {
  width: 90%;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: auto;
  border-radius: 20px;
}
/*ABOUT*/
.about-container {
  width: 90%;
  height: 70%;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;

  align-items: center;
  margin-left: 30px;
  margin-top: 10px;
}

.about-container p {
  color: #403e3e;
  font-family: "Cambria";
  font-weight: bold;
  font-size: 20px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 30px;
}

/*Speakers*/

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0px 0px 8px;
  margin-bottom: 28px;
  border-radius: 35px 0;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0px 0px 8px #c81a3b;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(255, 0, 0);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
/*Back to top*/

/*LOGOS*/
.contactlogo {
  max-width: 30px;
  max-height: 40px;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 90px;
  float: left;
}

.abt {
  margin-top: 5px;
  padding: 35px;
  font-family: "Stint Ultra Condensed", cursive;
  font-size: 22px;
  font-weight: bold;
}

/*Workshop*/
.column1 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.workshop:hover {
  opacity: 1;
  box-shadow: 0px 5px 10px #401ac8;
}
.workshop {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  max-height: 350px;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0px 0px 8px;
  margin-bottom: 28px;
  border-radius: 35px 0;
  overflow: hidden;
  transition: 0.5s;
}

/*SCEDULE*/
table {
  text-align: center;
  margin-top: 30px;
  background: rgb(163, 47, 62);
  font-size: 22px;
}
#dates {
  font-family: "Mate SC", serif;
  border-collapse: collapse;
  width: 100%;
}

#dates td {
  border: 1px solid rgb(105, 72, 72);
  padding: 8px;
}

#dates tr:nth-child(even) {
  background-color: #ffb1b1;
}

#dates tr:hover {
  background-color: #ddd;
  box-shadow: 0px 0px 8px #c81a3b;
}
