body {
  background-color: #f6f5f5;
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav ul {
  display: flex;
}
nav ul li a {
  margin: 30px;
  font-family: Copperplate, Papyrus, fantasy;
  color: #505050;
  font-size: 18px;
  font-weight: 700;
}

.logo {
  height: 60px;
  width: 250px;
  margin: 0px;
}
